# THIS FILE IS NOT THE SOURCE OF TRUTH for app ownership. If this app
# is transferred to another team, the app ownership should be changed
# in fixops.
#
# View current canonical app ownership on Unwritten:
# https://unwritten.stitchfix.com/docs/applications-and-services
#
# This file uses the GitHub CODEOWNERS convention to assign PR reviewers:
# https://help.github.com/articles/about-codeowners/

* @brettfishman @bwebster @stitchfix/devex
