pkg
spec/reports
spec/fake_app/log/
spec/fake_app/tmp/
spec/fake_app/db/schema.rb
.vimrc
*.sw?
.idea/
config/database.yml
.tddium*
.DS_Store
.jhw-cache
**.orig
Gemfile.lock
Gemfile.*.lock
.projections.json
*.local
